    <header>
      <nav>
        <ul>
          <li><%= link_to 'オールインクルーシブとは？', footer_path %></li>
          <li><a>旅ログ</a></li>
          <li><a>施設登録</a></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        </ul>
      </nav>
    </header>