    <header>
      <nav>
        <ul>
          <li><%= link_to 'オールインクルーシブとは？', explanation_path %></li>
          <li><%= button_to 'ログアウト', logout_path, method: :delete, data: { turbo: true } %></li>
          <li><%= link_to t('header.bookmark_index'), bookmarks_hotel_path, class: 'nav-link' %></li>
        </ul>
      </nav>
    </header>