<% if current_page.last? %>
  <li class="page-item disabled">
    <span class="page-link">Next &rsaquo;</span>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to raw("Next &rsaquo;"), url_for(page: current_page.to_i + 1), class: "page-link" %>
  </li>
<% end %>
