<% comments.each do |comment| %>
  <div class="comment d-flex justify-content-between align-items-center">
    <div>
      <p><strong><%= comment.user.name %></strong></p> <!-- 投稿者の名前を表示 -->
      <p><%= comment.body %></p>
    </div>
    <% if comment.user == current_user %>
      <div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= link_to "編集", edit_comment_path(comment), class: "edit-comment-link" %>
            <i class="bi bi-pencil-fill"></i>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
