<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <style>
    #map { height: 500px; width: 100%; }
  </style>
<% end %>

<div data-turbo="false">
  <h1>オールインクルーシブホテルを地図から探す</h1>

  <div id="map"
       data-google-maps-api-key="<%= ENV['GOOGLE_MAPS_API_KEY'] %>"
       data-hotels='<%= raw(@hotels.to_json) %>'></div>

  <div>
    <%= link_to 'ホームに戻る', root_path, class: 'btn btn-primary' %>
  </div>
</div>

