<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="turbo-visit-control" content="reload">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>地図から探す</title>
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>
</head>

<body data-turbo="false">
  <h1>オールインクルーシブホテルを地図から探す</h1>

  <div id="map"
       data-google-maps-api-key="<%= ENV['GOOGLE_MAPS_API_KEY'] %>"
       data-hotels='<%= raw(@hotels.to_json) %>'></div>
<div>
  <%= link_to 'ホームに戻る', root_path, class: 'btn btn-primary' %>
</div>
</body>
</html>
