<%= stylesheet_link_tag 'styles', media: 'all' %>
<h1>オールインクルーシブとは</h1>
<ul>
  <li>オールインクルーシブとは、宿泊代金に飲食代やアクティビティ代、施設使用料など、ホテル滞在中にかかる費用がすべて含まれているプランのことを表します。
  <br>
  海外などのリゾート地にオールインクルーシブプランを採用するホテルが多く存在しますが、近年国内にも続々増えています。
  <br>
  追加料金を気にせず、宿での特別なくつろぎの時間を過ごすことができます。
  </li>

<h2>☆魅力☆</h2>
  <li>  日常の喧騒から離れ、15時にチェックイン。ウェルカムドリンクや、アルコールを含むドリンクなどラウンジバー、温泉・お風呂・サウナ、夕食を楽しむ...
  <br>
  特に、ラウンジバーや夕食において、アルコールが楽しみ放題で含まれているオールインクルーブの宿も人気。
  <br>
  その後もマッサージ、スパ、散策、夜食、入浴後のアイスなど、ゆっくりと施設での特別な時間を過ごす。
  <br>
  翌朝も温泉や朝食を楽しみ、コーヒーとともに一息つきながらゆっくりチェックアウト。
  <br>
  自分へのご褒美で至福の時間。
  <br>
  それらの滞在費がすべて予約時の宿泊費に含まれているため、料金を気にせず非日常の時間を楽しむことができます。
  <br>
　</li>
</ul>

<div>
  <%= link_to 'ホームに戻る', root_path, class: 'btn btn-primary' %>
</div>