<%= stylesheet_link_tag 'styles', media: 'all' %>
<h1>オールインクルーシブとは</h1>
<ul>
  <li>オールインクルーシブとは、宿泊代金に飲食代やアクティビティ代、プールやジムの施設使用料など、滞在中にホテルにかかる費用がすべて含まれているプランのことを表します。
  <br>
  海外などのリゾート地にオールインクルーシブプランを採用するホテルが多く存在しますが、近年国内にも続々増えています。
  </li>

<h2>☆魅力☆</h2>
  <li>  ちょっといい宿に15時にチェックインをして、ウェルカムドリンクや、アルコールを含むドリンクなどラウンジバーを楽しみ、温泉・お風呂・サウナを楽しみ、夕食を楽しむ...
  <br>
  特に、ラウンジバーや夕食において、アルコールが楽しみ放題で含まれているオールインクルーブの宿も存在します。
  <br>
  その後もマッサージ、スパ、散策、夜食、入浴後のアイスなど、ゆっくりと施設での時間を過ごし、楽しむ。
  <br>
  翌朝は朝の温泉を楽しみ、朝食いただき、コーヒーとゆっくりチェックアウト。
  <br>
  自分へのご褒美で至福の時間。
  <br>
  それらの滞在費がすべて予約時の宿泊費に含まれているため、料金を気にせず非日常の時間を楽しむことができます。
  <br>
　</li>
</ul>

<div>
  <%= link_to 'ホームに戻る', root_path, class: 'btn btn-primary' %>
</div>