<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
    <h3>オールインクルーシブについて</h3>
    <p>
        <%= link_to 'オールインクルーシブとは', explanation_path %>
        <br> 
        <%= link_to 'オールインクルーシブの魅力', explanation_path %>
    </p>
        </div>
      </div>
    </div>
  </div>
</footer>