<div>
  <% if hotel['tags'].present? %>
    <ul class="tag-list">
      <% hotel['tags'].each do |tag| %>
        <li class="tag"><%= tag %></li>
      <% end %>
    </ul>
  <% else %>
    <pタグがありません。</p>
  <% end %>
  <% if current_user %>
    <%= link_to 'タグを追加', new_tag_path(hotel_id: hotel['hotelNo']) %>
  <% else %>
    <%= link_to 'タグを追加', login_path %>
  <% end %>
</div>
