// custom.scss 

// Bootstrapのスタイルを上書き 
$legend-font-weight: bold; 
$display-font-family: 'Arial, sans-serif'; 
$display-font-style: italic; $display-font-weight: 700; 

@import 'bootstrap/scss/bootstrap';