/* app/assets/stylesheets/hotels.css */

.hotel-list {
  list-style-type: none;
  padding: 0;
}

.hotel-item {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: left; /* ホテル全体を左寄せにする */
}

.hotel-item img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  float: left;
}

.hotel-item h2 {
  margin-top: 0;
}

.hotel-item p {
  margin: 0;
}

.hotel-item a {
  display: block;
  margin-top: 10px;
}

.button_to {
  text-align: left; /* 左寄せにする */
  display: block;   /* ブロック要素にする */
}
