body {
    display: flex;
    flex-direction: column; /* 縦方向に並べる */
    justify-content: center; /* 中央寄せ（縦方向） */
    align-items: center; /* 中央寄せ（横方向） */
    height: 100vh; /* ビューポートの高さを100%に設定 */
    margin: 0;
    background-color: #CCFFCC; /* 背景色を設定 */
}

h1, h2 {
    margin: 0; /* 余白をリセット */
    font-family: 'GlimChe', sans-serif; /* フォントを指定 */
    color: #009933; /* フォントカラーを指定 */
    text-align: center; /* テキストを中央寄せ */
}

h1 {
    margin-bottom: 20px; /* h1とフォームの間に余白を追加 */
    font-size: 20px; /* フォントサイズを指定 */
}

h2 {
    margin-bottom: 20px; /* h2とフォームの間に余白を追加 */
}

form {
    display: flex; /* フォーム内の要素を横並びにする */
    justify-content: center; /* 中央寄せ（横方向） */
    text-align: left; /* テキストを左寄せに変更（必要に応じて） */
}

ul {
    list-style-type: none; /* リストのスタイルをリセット */
    padding: 0; /* パディングをリセット */
}

li {
    margin: 10px 0; /* リストアイテムの間に余白を追加 */
}

footer {
    background-color: #009933; /* フッターの背景色を#009933に変更 */
    position: relative; /* 固定しない */
    left: 0;
    bottom: 0; /* 下に固定 */
    width: 100%; /* 幅を100%に変更 */
    color: #fff;
    text-align: left; /* 左寄せに変更 */
    padding: 10px 0;
}

footer h3 {
    font-size: 1em; /* h3の文字の大きさを通常のサイズに設定 */
}

footer a {
    font-size: 0.9em; /* h3より少し小さいサイズに設定 */
}

.image-container {
    display: flex; /* 横並びにする */
    justify-content: center; /* 中央に配置 */
    flex-wrap: wrap; /* 行がいっぱいになったら折り返す */
}

.image-container img {
   width: 30%; /* 各画像の幅を設定 */
   margin: 10px; /* 画像の間にスペースを作る */
}