<div class="row">
  <div class="col-12">
    <div class="row">
      <% if @bookmark_hotels.present? %>
        <% @bookmark_hotels.each do |bookmark| %>
          <%= render partial: 'bookmark_hotel', locals: { bookmark: bookmark } %>
        <% end %>
      <% else %>
        <p>お気に入り登録はありません</p>
      <% end %>
        
      <div class="col-auto mt-3">
        <%= link_to '戻る', (params[:return_to] || fallback_path), class: "btn btn-secondary" %>
        <%= link_to 'マイページに戻る', mypage_path, class: 'btn btn-secondary' %>
      </div>
      <div class="col-auto mt-3">
        <%= link_to 'ホームに戻る', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
